* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;

}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.logoVet img {
    width: 75%;
}

.logoVet {
    position: relative;
    top: 38px;
    right: 50px;
}

.ladoAzul {
    width: 100%;
    height: 150px;
    background-color: #004AAD;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Redes img {
    width: 40px;
    margin-left: 6px;
    margin-right: 15px;
}

.Numero {
    color: #FFF;
    font-weight: bold;
    margin-left: 10px;
    position: relative;
    bottom: 10px;
}



.Usuario {
    width: 250px;
    position: relative;
    
}


.opciones {
    text-align: right;
}

.opciones a {
    display: inline-block;
    color: #004AAD;
    padding: 10px 80px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

}

.opciones a:hover {
    transform: scale(1.2);
    color:#57C8F4;
    border-radius: 20px;
}



.banner {
    margin-top: 20px;
    width: 100%;
}

.banner img {
    width: 100%;
}

.historia{
    display: flex;
}

.historia pre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 190px;
    margin-left: 200px;
}

.imgQuienesSomos img{
    width: 500px;
    margin-left: 389px;
    margin-top: 50px;
}

.misionVision{
    background-color: #3A80C1;
    margin-top: 40px;
    display: flex;
    padding: 40px;
}

.misionVision h1{
    color: #FFF;
    font-size: 50px;
    align-items: center;
    margin-left: 300px;
}

.vision{
    margin-left: 920px;
}

.vision h2{
    color: #FFF;
    font-size: 50px;
}

.infoMision{
    display: flex;
}

.infoMision pre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 90px;
}

.infoVision{
    margin-left: 380px;
}

.infoVision pre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 77px;
}

.valores{
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
}

.icnValores{
    display: flex;
}


.icnValores img{
    width: 200px;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 200px;
}

.horario{
    margin-top: 90px;
    
}

.horario img{
    width: 100%;
}

.pieDePagina{
    height: 60vh;
    background-image: url(img/PieDePagina.png);
    background-size: cover;  
    display: flex;
    margin-top: 60px;
}

.logo{
    width: 300px;
   
}

.logo img{
    width: 85%;
    margin-top: 175px;
    margin-left: 80px;
}




.correo h1{
    color: #FFF;
    margin-left: 500px;
    margin-top: 120px;
}

.correo1 h2{
    color: #FFF;
    margin-left: 370px;
    margin-top: 60px;
}

.correo2 h2{
    color: #FFF;
    margin-left: 390px;
    margin-top: 20px;
}

.redes{
    margin-left: 340px;
}

.redes img{
    width: 49px;
    margin: 45px 25px;
    
}

.visitanos{
    color: #FFF;
    margin-left: 400px;
    margin-top: 120px;
}

.visitanos h1{
    margin-left: 100px; 
}

.ubicacion{
    width: 100px;
}

.ubicacion iframe{
    margin-top: 25px;
    width: 350px;
    height: 250px;
    margin-left: 5px;
}