* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.logoVet img {
    width: 75%;
}

.logoVet {
    position: relative;
    top: 38px;
    right: 50px;
}

.ladoAzul {
    width: 100%;
    height: 150px;
    background-color: #004AAD;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Redes img {
    width: 40px;
    margin-left: 6px;
    margin-right: 15px;
}

.Numero {
    color: #FFF;
    font-weight: bold;
    margin-left: 10px;
    position: relative;
    bottom: 10px;
}


.Usuario {
    width: 250px;
    position: relative;
    
}


.opciones {
    text-align: right;
}

.opciones a {
    display: inline-block;
    color: #004AAD;
    padding: 10px 80px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

}

.opciones a:hover {
    transform: scale(1.2);
    color:#57C8F4;
    border-radius: 20px;
}

.imgRegistro{ 
    height: 10vw;
    position: relative;
    display: flex;
    justify-content: end;
}

.imgRegistro img{
    width: 280px;
    position: absolute;
    bottom: 0;
    padding-right: 50px;
}

.registrate {
    background: #3A80C1;
    padding: 25px;
}

.registrate h1{
    text-align: center;
    color: #FFFF;
    font-size: 40px;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario img {
    width: 500px;
    margin-right: 20px;
    margin-top: 150px;
}

.formulario form {
    margin-top: 160px;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0);
    padding: 50px;
}

.fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.nombre {
    width: 48%; 
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

input,
select {
    width: calc(70% - 10px); 
    padding: 5px;
    box-sizing: border-box;
    margin-right: 50px;
}

.btnRegistrar {
    margin-top: 20px;
    width: 200px;

}



.pieDePagina{
    height: 60vh;
    background-image: url(img/PieDePagina.png);
    background-size: cover;  
    display: flex;
    margin-top: 150px;
}

.logo{
    width: 300px;
   
}

.logo img{
    width: 85%;
    margin-top: 175px;
    margin-left: 80px;
}


.correo h1{
    color: #FFF;
    margin-left: 500px;
    margin-top: 120px;
}

.correo1 h2{
    color: #FFF;
    margin-left: 370px;
    margin-top: 60px;
}

.correo2 h2{
    color: #FFF;
    margin-left: 390px;
    margin-top: 20px;
}

.redes{
    margin-left: 340px;
}

.redes img{
    width: 49px;
    margin: 45px 25px;
    
}

.visitanos{
    color: #FFF;
    margin-left: 400px;
    margin-top: 120px;
}

.visitanos h1{
    margin-left: 100px; 
}

.ubicacion{
    width: 100px;
}

.ubicacion iframe{
    margin-top: 25px;
    width: 350px;
    height: 250px;
    margin-left: 5px;
}










