* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;

}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.logoVet img {
    width: 75%;
}

.logoVet {
    position: relative;
    top: 38px;
    right: 50px;
}

.ladoAzul {
    width: 100%;
    height: 150px;
    background-color: #004AAD;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Redes img {
    width: 40px;
    margin-left: 6px;
    margin-right: 15px;
}

.Numero {
    color: #FFF;
    font-weight: bold;
    margin-left: 10px;
    position: relative;
    bottom: 10px;
}



.Usuario {
    width: 250px;
    position: relative;
    
}


.opciones {
    text-align: right;
}

.opciones a {
    display: inline-block;
    color: #004AAD;
    padding: 10px 80px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

}

.opciones a:hover {
    transform: scale(1.2);
    color:#57C8F4;
    border-radius: 20px;
}

.banner img{
    width: 100%;
    margin-top: 20px;
}

.servicios h1{
    text-align: center;
    margin-top: 50px;
    font-weight: normal;
    font-size: 58px;
}

.servicios h2{
    text-align: center;
    font-weight: normal;
    font-size: 35px;
}

.imgServicios{
    display: flex;
}

.imgServicios img{
    width: 650px;
    margin-top: 70px;
    margin-left: 190px;
    margin-right: 50px;
}